In [89]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.metrics import accuracy_score,classification_report
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

import warnings
warnings.filterwarnings('ignore')

Imported the needed libraries

In [51]:
data=pd.read_csv(r'https://raw.githubusercontent.com/dsrscientist/Data-Science-ML-Capstone-Projects/master/Automobile_insurance_fraud.csv')
data.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,_c39
0,328,48,521585,17-10-2014,OH,250/500,1000,1406.91,0,466132,...,YES,71610,6510,13020,52080,Saab,92x,2004,Y,NaN
1,228,42,342868,27-06-2006,IN,250/500,2000,1197.22,5000000,468176,...,?,5070,780,780,3510,Mercedes,E400,2007,Y,NaN
2,134,29,687698,06-09-2000,OH,100/300,2000,1413.14,5000000,430632,...,NO,34650,7700,3850,23100,Dodge,RAM,2007,N,NaN
3,256,41,227811,25-05-1990,IL,250/500,2000,1415.74,6000000,608117,...,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y,NaN
4,228,44,367455,06-06-2014,IL,500/1000,1000,1583.91,6000000,610706,...,NO,6500,1300,650,4550,Accura,RSX,2009,N,NaN

Read the file

In [52]:
data.shape

(1000, 40)

There are 1000 rows and 40 columns in the given data set

In [53]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 40 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   months_as_customer           1000 non-null   int64
 1   age                          1000 non-null   int64
 2   policy_number                1000 non-null   int64
 3   policy_bind_date             1000 non-null   object
 4   policy_state                 1000 non-null   object
 5   policy_csl                   1000 non-null   object
 6   policy_deductable            1000 non-null   int64
 7   policy_annual_premium        1000 non-null   float64
 8   umbrella_limit               1000 non-null   int64
 9   insured_zip                  1000 non-null   int64
 10  insured_sex                  1000 non-null   object
 11  insured_education_level      1000 non-null   object
 12  insured_occupation           1000 non-null   object
 13  insured_hobbies              1000 non-null   object
 14  insured_relationship         1000 non-null   object
 15  capital-gains                1000 non-null   int64
 16  capital-loss                 1000 non-null   int64
 17  incident_date                1000 non-null   object
 18  incident_type                1000 non-null   object
 19  collision_type               1000 non-null   object
 20  incident_severity            1000 non-null   object
 21  authorities_contacted        1000 non-null   object
 22  incident_state               1000 non-null   object
 23  incident_city                1000 non-null   object
 24  incident_location            1000 non-null   object
 25  incident_hour_of_the_day     1000 non-null   int64
 26  number_of_vehicles_involved  1000 non-null   int64
 27  property_damage              1000 non-null   object
 28  bodily_injuries              1000 non-null   int64
 29  witnesses                    1000 non-null   int64
 30  police_report_available      1000 non-null   object
 31  total_claim_amount           1000 non-null   int64
 32  injury_claim                 1000 non-null   int64
 33  property_claim               1000 non-null   int64
 34  vehicle_claim                1000 non-null   int64
 35  auto_make                    1000 non-null   object
 36  auto_model                   1000 non-null   object
 37  auto_year                    1000 non-null   int64
 38  fraud_reported               1000 non-null   object
 39  _c39                         0 non-null      float64
dtypes: float64(2), int64(17), object(21)
memory usage: 312.6+ KB

We can see that the data set contains object ,int and  float data types

In [54]:
data.isna().sum()

months_as_customer                0
age                               0
policy_number                     0
policy_bind_date                  0
policy_state                      0
policy_csl                        0
policy_deductable                 0
policy_annual_premium             0
umbrella_limit                    0
insured_zip                       0
insured_sex                       0
insured_education_level           0
insured_occupation                0
insured_hobbies                   0
insured_relationship              0
capital-gains                     0
capital-loss                      0
incident_date                     0
incident_type                     0
collision_type                    0
incident_severity                 0
authorities_contacted             0
incident_state                    0
incident_city                     0
incident_location                 0
incident_hour_of_the_day          0
number_of_vehicles_involved       0
property_damage                   0
bodily_injuries                   0
witnesses                         0
police_report_available           0
total_claim_amount                0
injury_claim                      0
property_claim                    0
vehicle_claim                     0
auto_make                         0
auto_model                        0
auto_year                         0
fraud_reported                    0
_c39                           1000
dtype: int64

There is no null values, in the column _39 all are NAN values

So we are dropping that column

In [55]:
data=data.drop(columns=['_c39'])
data.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,328,48,521585,17-10-2014,OH,250/500,1000,1406.91,0,466132,...,2,YES,71610,6510,13020,52080,Saab,92x,2004,Y
1,228,42,342868,27-06-2006,IN,250/500,2000,1197.22,5000000,468176,...,0,?,5070,780,780,3510,Mercedes,E400,2007,Y
2,134,29,687698,06-09-2000,OH,100/300,2000,1413.14,5000000,430632,...,3,NO,34650,7700,3850,23100,Dodge,RAM,2007,N
3,256,41,227811,25-05-1990,IL,250/500,2000,1415.74,6000000,608117,...,2,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y
4,228,44,367455,06-06-2014,IL,500/1000,1000,1583.91,6000000,610706,...,1,NO,6500,1300,650,4550,Accura,RSX,2009,N

We are dropping the unwanted columns

In [56]:
data=data.drop(columns=['policy_number'])
data.head()

,months_as_customer,age,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,328,48,17-10-2014,OH,250/500,1000,1406.91,0,466132,MALE,...,2,YES,71610,6510,13020,52080,Saab,92x,2004,Y
1,228,42,27-06-2006,IN,250/500,2000,1197.22,5000000,468176,MALE,...,0,?,5070,780,780,3510,Mercedes,E400,2007,Y
2,134,29,06-09-2000,OH,100/300,2000,1413.14,5000000,430632,FEMALE,...,3,NO,34650,7700,3850,23100,Dodge,RAM,2007,N
3,256,41,25-05-1990,IL,250/500,2000,1415.74,6000000,608117,FEMALE,...,2,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y
4,228,44,06-06-2014,IL,500/1000,1000,1583.91,6000000,610706,MALE,...,1,NO,6500,1300,650,4550,Accura,RSX,2009,N

In [57]:
data=data.drop(columns=['policy_bind_date'])
data.head()

,months_as_customer,age,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,insured_education_level,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,328,48,OH,250/500,1000,1406.91,0,466132,MALE,MD,...,2,YES,71610,6510,13020,52080,Saab,92x,2004,Y
1,228,42,IN,250/500,2000,1197.22,5000000,468176,MALE,MD,...,0,?,5070,780,780,3510,Mercedes,E400,2007,Y
2,134,29,OH,100/300,2000,1413.14,5000000,430632,FEMALE,PhD,...,3,NO,34650,7700,3850,23100,Dodge,RAM,2007,N
3,256,41,IL,250/500,2000,1415.74,6000000,608117,FEMALE,PhD,...,2,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y
4,228,44,IL,500/1000,1000,1583.91,6000000,610706,MALE,Associate,...,1,NO,6500,1300,650,4550,Accura,RSX,2009,N

In [58]:
data=data.drop(columns=['policy_csl'])
data.head()

,months_as_customer,age,policy_state,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,insured_education_level,insured_occupation,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,328,48,OH,1000,1406.91,0,466132,MALE,MD,craft-repair,...,2,YES,71610,6510,13020,52080,Saab,92x,2004,Y
1,228,42,IN,2000,1197.22,5000000,468176,MALE,MD,machine-op-inspct,...,0,?,5070,780,780,3510,Mercedes,E400,2007,Y
2,134,29,OH,2000,1413.14,5000000,430632,FEMALE,PhD,sales,...,3,NO,34650,7700,3850,23100,Dodge,RAM,2007,N
3,256,41,IL,2000,1415.74,6000000,608117,FEMALE,PhD,armed-forces,...,2,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y
4,228,44,IL,1000,1583.91,6000000,610706,MALE,Associate,sales,...,1,NO,6500,1300,650,4550,Accura,RSX,2009,N

In [59]:
data=data.drop(columns=['incident_date'])
data.head()

,months_as_customer,age,policy_state,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,insured_education_level,insured_occupation,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,328,48,OH,1000,1406.91,0,466132,MALE,MD,craft-repair,...,2,YES,71610,6510,13020,52080,Saab,92x,2004,Y
1,228,42,IN,2000,1197.22,5000000,468176,MALE,MD,machine-op-inspct,...,0,?,5070,780,780,3510,Mercedes,E400,2007,Y
2,134,29,OH,2000,1413.14,5000000,430632,FEMALE,PhD,sales,...,3,NO,34650,7700,3850,23100,Dodge,RAM,2007,N
3,256,41,IL,2000,1415.74,6000000,608117,FEMALE,PhD,armed-forces,...,2,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y
4,228,44,IL,1000,1583.91,6000000,610706,MALE,Associate,sales,...,1,NO,6500,1300,650,4550,Accura,RSX,2009,N

In [60]:
data=data.drop(columns=['incident_location'])
data.head()

,months_as_customer,age,policy_state,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,insured_education_level,insured_occupation,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,328,48,OH,1000,1406.91,0,466132,MALE,MD,craft-repair,...,2,YES,71610,6510,13020,52080,Saab,92x,2004,Y
1,228,42,IN,2000,1197.22,5000000,468176,MALE,MD,machine-op-inspct,...,0,?,5070,780,780,3510,Mercedes,E400,2007,Y
2,134,29,OH,2000,1413.14,5000000,430632,FEMALE,PhD,sales,...,3,NO,34650,7700,3850,23100,Dodge,RAM,2007,N
3,256,41,IL,2000,1415.74,6000000,608117,FEMALE,PhD,armed-forces,...,2,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y
4,228,44,IL,1000,1583.91,6000000,610706,MALE,Associate,sales,...,1,NO,6500,1300,650,4550,Accura,RSX,2009,N

With label encoder, we are changing the object to INT

In [61]:
lab_enc=LabelEncoder()

In [62]:
data1=lab_enc.fit_transform(data['policy_state'])
data['policy_state']=data1
pd.Series(data1)

0      2
1      1
2      2
3      0
4      0
      ..
995    2
996    0
997    2
998    0
999    2
Length: 1000, dtype: int32

In [63]:
data1=lab_enc.fit_transform(data['insured_sex'])
data['insured_sex']=data1
pd.Series(data1)

0      1
1      1
2      0
3      0
4      1
      ..
995    0
996    0
997    0
998    1
999    0
Length: 1000, dtype: int32

In [64]:

data1=lab_enc.fit_transform(data['insured_education_level'])
data['insured_education_level']=data1
pd.Series(data1)

0      4
1      4
2      6
3      6
4      0
      ..
995    5
996    6
997    5
998    0
999    0
Length: 1000, dtype: int32

In [65]:


data1=lab_enc.fit_transform(data['insured_occupation'])
data['insured_occupation']=data1
pd.Series(data1)

0       2
1       6
2      11
3       1
4      11
       ..
995     2
996     9
997     1
998     5
999    11
Length: 1000, dtype: int32

In [66]:

data1=lab_enc.fit_transform(data['insured_hobbies'])
data['insured_hobbies']=data1
pd.Series(data1)

0      17
1      15
2       2
3       2
4       2
       ..
995    13
996    17
997     3
998     0
999    11
Length: 1000, dtype: int32

In [67]:

data1=lab_enc.fit_transform(data['insured_relationship'])
data['insured_relationship']=data1
pd.Series(data1)

0      0
1      2
2      3
3      4
4      4
      ..
995    4
996    5
997    2
998    5
999    0
Length: 1000, dtype: int32

In [68]:
data1=lab_enc.fit_transform(data['collision_type'])
data['collision_type']=data1
pd.Series(data1)

0      3
1      0
2      2
3      1
4      0
      ..
995    1
996    2
997    3
998    2
999    0
Length: 1000, dtype: int32

In [69]:

data1=lab_enc.fit_transform(data['incident_severity'])
data['incident_severity']=data1
pd.Series(data1)

0      0
1      1
2      1
3      0
4      1
      ..
995    1
996    0
997    1
998    0
999    1
Length: 1000, dtype: int32

In [70]:

data1=lab_enc.fit_transform(data['authorities_contacted'])
data['authorities_contacted']=data1
pd.Series(data1)

0      4
1      4
2      4
3      4
4      2
      ..
995    1
996    1
997    4
998    3
999    4
Length: 1000, dtype: int32

In [71]:
data1=lab_enc.fit_transform(data['incident_state'])
data['incident_state']=data1
pd.Series(data1)

0      4
1      5
2      1
3      2
4      1
      ..
995    0
996    4
997    0
998    1
999    6
Length: 1000, dtype: int32

In [72]:

data1=lab_enc.fit_transform(data['incident_city'])
data['incident_city']=data1
pd.Series(data1)

0      1
1      5
2      1
3      0
4      0
      ..
995    4
996    3
997    0
998    0
999    1
Length: 1000, dtype: int32

In [73]:
data1=lab_enc.fit_transform(data['property_damage'])
data['property_damage']=data1
pd.Series(data1)

0      2
1      0
2      1
3      0
4      1
      ..
995    2
996    2
997    0
998    0
999    0
Length: 1000, dtype: int32

In [74]:

data1=lab_enc.fit_transform(data['police_report_available'])
data['police_report_available']=data1
pd.Series(data1)

0      2
1      0
2      1
3      1
4      1
      ..
995    0
996    0
997    2
998    2
999    0
Length: 1000, dtype: int32

In [75]:


data1=lab_enc.fit_transform(data['auto_make'])
data['auto_make']=data1
pd.Series(data1)

0      10
1       8
2       4
3       3
4       0
       ..
995     6
996    13
997    11
998     1
999     8
Length: 1000, dtype: int32

In [76]:

data1=lab_enc.fit_transform(data['auto_model'])
data['auto_model']=data1
pd.Series(data1)

0       1
1      12
2      30
3      34
4      31
       ..
995     6
996    28
997    19
998     5
999    12
Length: 1000, dtype: int32

In [87]:

data1=lab_enc.fit_transform(data['incident_type'])
data['incident_type']=data1
pd.Series(data1)

0      2
1      3
2      0
3      2
4      3
      ..
995    2
996    2
997    0
998    2
999    1
Length: 1000, dtype: int32

In [77]:

data1=lab_enc.fit_transform(data['fraud_reported'])
data['fraud_reported']=data1
pd.Series(data1)

0      1
1      1
2      0
3      1
4      0
      ..
995    0
996    0
997    0
998    0
999    0
Length: 1000, dtype: int32

In [78]:
data.head()

,months_as_customer,age,policy_state,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,insured_education_level,insured_occupation,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,328,48,2,1000,1406.91,0,466132,1,4,2,...,2,2,71610,6510,13020,52080,10,1,2004,1
1,228,42,1,2000,1197.22,5000000,468176,1,4,6,...,0,0,5070,780,780,3510,8,12,2007,1
2,134,29,2,2000,1413.14,5000000,430632,0,6,11,...,3,1,34650,7700,3850,23100,4,30,2007,0
3,256,41,0,2000,1415.74,6000000,608117,0,6,1,...,2,1,63400,6340,6340,50720,3,34,2014,1
4,228,44,0,1000,1583.91,6000000,610706,1,0,11,...,1,1,6500,1300,650,4550,0,31,2009,0

In [88]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 34 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   months_as_customer           1000 non-null   int64
 1   age                          1000 non-null   int64
 2   policy_state                 1000 non-null   int32
 3   policy_deductable            1000 non-null   int64
 4   policy_annual_premium        1000 non-null   float64
 5   umbrella_limit               1000 non-null   int64
 6   insured_zip                  1000 non-null   int64
 7   insured_sex                  1000 non-null   int32
 8   insured_education_level      1000 non-null   int32
 9   insured_occupation           1000 non-null   int32
 10  insured_hobbies              1000 non-null   int32
 11  insured_relationship         1000 non-null   int32
 12  capital-gains                1000 non-null   int64
 13  capital-loss                 1000 non-null   int64
 14  incident_type                1000 non-null   int32
 15  collision_type               1000 non-null   int32
 16  incident_severity            1000 non-null   int32
 17  authorities_contacted        1000 non-null   int32
 18  incident_state               1000 non-null   int32
 19  incident_city                1000 non-null   int32
 20  incident_hour_of_the_day     1000 non-null   int64
 21  number_of_vehicles_involved  1000 non-null   int64
 22  property_damage              1000 non-null   int32
 23  bodily_injuries              1000 non-null   int64
 24  witnesses                    1000 non-null   int64
 25  police_report_available      1000 non-null   int32
 26  total_claim_amount           1000 non-null   int64
 27  injury_claim                 1000 non-null   int64
 28  property_claim               1000 non-null   int64
 29  vehicle_claim                1000 non-null   int64
 30  auto_make                    1000 non-null   int32
 31  auto_model                   1000 non-null   int32
 32  auto_year                    1000 non-null   int64
 33  fraud_reported               1000 non-null   int32
dtypes: float64(1), int32(17), int64(16)
memory usage: 199.3 KB

Changed all the object to int

In [91]:
y = data['fraud_reported']
x=data.drop(columns=['fraud_reported'])

In [81]:
y

0      1
1      1
2      0
3      1
4      0
      ..
995    0
996    0
997    0
998    0
999    0
Name: fraud_reported, Length: 1000, dtype: int32

In [82]:
x

,months_as_customer,age,policy_state,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,insured_sex,insured_education_level,insured_occupation,...,bodily_injuries,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year
0,328,48,2,1000,1406.91,0,466132,1,4,2,...,1,2,2,71610,6510,13020,52080,10,1,2004
1,228,42,1,2000,1197.22,5000000,468176,1,4,6,...,0,0,0,5070,780,780,3510,8,12,2007
2,134,29,2,2000,1413.14,5000000,430632,0,6,11,...,2,3,1,34650,7700,3850,23100,4,30,2007
3,256,41,0,2000,1415.74,6000000,608117,0,6,1,...,1,2,1,63400,6340,6340,50720,3,34,2014
4,228,44,0,1000,1583.91,6000000,610706,1,0,11,...,0,1,1,6500,1300,650,4550,0,31,2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,3,38,2,1000,1310.80,0,431289,0,5,2,...,0,1,0,87200,17440,8720,61040,6,6,2006
996,285,41,0,1000,1436.79,0,608177,0,6,9,...,2,3,0,108480,18080,18080,72320,13,28,2015
997,130,34,2,500,1383.49,3000000,442797,0,5,1,...,2,3,2,67500,7500,7500,52500,11,19,1996
998,458,62,0,2000,1356.92,5000000,441714,1,0,5,...,0,1,2,46980,5220,5220,36540,1,5,1998
999,456,60,2,1000,766.19,0,612260,0,0,11,...,0,3,0,5060,460,920,3680,8,12,2007

seperated target and featurs

In [92]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=355)

Splitted train and test data

In [93]:
def metric_score(clf,x_train,x_test,y_train,y_test,train=True):
    if train:
        y_pred=clf.predict(x_train)
        print('\n==========================Train Result=====================')
        print(f'Accuracy score:{accuracy_score(y_train,y_pred)*100:.2f}%')
    elif train==False:
        pred=clf.predict(x_test)
        print('\n==========================Test Result=====================')
        print(f'Accuracy score:{accuracy_score(y_test,pred)*100:.2f}%')
        
        print('\n\n Test classifiaction report\n',classification_report(y_test,pred,digits=2))

In [94]:
clf=DecisionTreeClassifier()
clf.fit(x_train,y_train)

DecisionTreeClassifier()

trained the model with train data

In [95]:
metric_score(clf,x_train,x_test,y_train,y_test,train=True)
metric_score(clf,x_train,x_test,y_train,y_test,train=False)

==========================Train Result=====================
Accuracy score:100.00%

==========================Test Result=====================
Accuracy score:76.80%


 Test classifiaction report
               precision    recall  f1-score   support

           0       0.83      0.86      0.84       182
           1       0.58      0.53      0.55        68

    accuracy                           0.77       250
   macro avg       0.71      0.69      0.70       250
weighted avg       0.76      0.77      0.76       250

we achived 74 % accuracy

By the cross validation method, we are tunning the model

In [96]:
grid_param={
    'criterion':['gini','entropy'],
    'max_depth':range(10,15),
    'min_samples_leaf':range(2,6),
    'min_samples_split':range(3,8),
    'max_leaf_nodes':range(5,10)
}

In [97]:
grid_search=GridSearchCV(estimator=clf,
                        param_grid=grid_param,
                        cv=5,
                        n_jobs=-1)

In [98]:
grid_search.fit(x_train,y_train)

GridSearchCV(cv=5, estimator=DecisionTreeClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': range(10, 15),
                         'max_leaf_nodes': range(5, 10),
                         'min_samples_leaf': range(2, 6),
                         'min_samples_split': range(3, 8)})

In [99]:
best_parameters=grid_search.best_params_
print(best_parameters)

{'criterion': 'gini', 'max_depth': 10, 'max_leaf_nodes': 5, 'min_samples_leaf': 2, 'min_samples_split': 3}

Found best params

In [100]:
clf1=DecisionTreeClassifier(criterion= 'gini', max_depth= 10,max_leaf_nodes=5, min_samples_leaf= 2, min_samples_split= 3)

clf1.fit(x_train,y_train)

DecisionTreeClassifier(max_depth=10, max_leaf_nodes=5, min_samples_leaf=2,
                       min_samples_split=3)

In [101]:
metric_score(clf1,x_train,x_test,y_train,y_test,train=True)
metric_score(clf1,x_train,x_test,y_train,y_test,train=False)

==========================Train Result=====================
Accuracy score:88.13%

==========================Test Result=====================
Accuracy score:80.00%


 Test classifiaction report
               precision    recall  f1-score   support

           0       0.85      0.88      0.86       182
           1       0.65      0.59      0.62        68

    accuracy                           0.80       250
   macro avg       0.75      0.73      0.74       250
weighted avg       0.80      0.80      0.80       250

After tunning, we achived 80% accuracy